.main-bg {
	margin: 7.5rem;
}

.main {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 24px;
	margin-bottom: 4.7rem;
	background: var(--color-quinary);
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(19, 19, 31, 0.05);
}

.main img {
	border-radius: 5px;
}

.btn-link {
	color: var(--color-primary);
	font-size: 0.875rem;
	font-weight: bold;
	text-decoration: none;
	transition: color 0.2s;
	margin-top: 10%;
}

.btn-link:hover {
	color: var(--color-primary-light);
}

.date-mark {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.date-mark svg {
	cursor: pointer;
}

.text-title h1 {
	margin-bottom: 0.5rem;
}

.ativo {
	opacity: 1;
}

.desativo {
	opacity: 0;
}

@media screen and (max-width: 500px) {
	.main-bg {
		background: var(--color-quinary);
		margin: 3.1rem 0rem;
	}

	.main {
		display: flex;
		flex-direction: column;
		gap: 20px;
		padding: 24px;
		margin-bottom: 3rem;
	}

	.date-mark {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
