.inter {
	font-family: 'Inter', sans-serif;
}

.Lexend-deca {
	font-family: 'Lexend Deca', sans-serif;
}

.h3 {
	font-size: 1.5rem;
	line-height: 1.2;
}

.h1 {
	font-size: 1.625rem;
	line-height: 1.2;
}

.text-primary {
	font-size: 1.125rem;
	line-height: 1.2;
}
